.App {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid gray;
  }
  
  button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .tasks-container {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 4px;
  }
  
  .completed {
    text-decoration: line-through;
  }
  
  .filter-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  button.active {
    background-color: greenyellow;
  }
  
  .clear-button {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .completed_task{
    text-decoration: line-through;
  }
  